<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #000;
                min-width: 470px;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>